name: Go Lint
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.golangci.yml'
      - '.github/workflows/go-lint.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.golangci.yml'
      - '.github/workflows/go-lint.yaml'
  workflow_dispatch:

jobs:
  lint:
    uses: grokify/.github/.github/workflows/go-lint.yaml@439a05bbe1aef3e1f4b26a5c450d6c92de1b204c
